[2016-02-25 23:26] hokster7 opened #5 "Rename to "Work directory" to "Working directory""
For consistency with other steps, e.g. https://github.com/bitrise-io/steps-carthage

[2016-02-26 06:43] viktorbenei commented on #5
Good point, we'll change the title of the input, thank you for the suggestion!

[2016-02-26 14:21] godrei commented on #5
Fixed in version 2.1.2 (https://github.com/bitrise-io/steps-fastlane/releases/tag/2.1.2).
Thanks @fatuhoku !

[2016-02-26 14:21] #5 closed, assigned to nobody

[2016-03-04 11:41] hokster7 opened #8 "What versions of scan, cert, pem etc. are used?"
It's not clear whether the latest version of these tools are used always, or whether there's set versions.

e.g. just now I want to use the latest `scan` because there's a fix in it I've been waiting for.

[2016-03-04 11:43] hokster7 opened #9 "What versions of scan, cert, pem etc. are used?"
It's not clear whether the latest version of these tools are used always, or whether there's set versions.

e.g. just now I want to use the latest `scan` because there's a fix in it I've been waiting for.

[2016-03-04 11:43] viktorbenei commented on #8
Depends.

If you have a `Gemfile` in your repository then you can specify the exact versions: https://github.com/bitrise-io/steps-fastlane/blob/master/step.sh#L23

If you don't have that, then the Step will try to install the latest `fastlane` gem: https://github.com/bitrise-io/steps-fastlane/blob/master/step.sh#L34

[2016-03-04 11:45] viktorbenei commented on #8
Feel free to send us a PullRequest to add these infos to the Step's description: https://github.com/bitrise-io/steps-fastlane/blob/master/step.yml#L2

I'll close this ticket, but feel free to comment here; we'll re-open it if required.

[2016-03-04 11:45] #8 closed, assigned to nobody

[2016-04-07 11:53] jvanderwee opened #10 "Android support"
As Fastlane now has Android tools, what needs to be changed in order for this step to appear when 'Show only Steps supported by platform?' is checked for an Android project?

[2016-04-07 11:58] viktorbenei commented on #10
Just have to be added as a `project_type_tag`: https://github.com/bitrise-io/steps-fastlane/blob/master/step.yml#L11

One more thing can be done, `fastlane` is pre-installed on the OS X stacks but not on the Linux/Android stacks. It's a simple `gem install`, but we're not sure in which layer it should be included (base, android or android-ndk -> https://github.com/bitrise-docker). Probably should

[2016-04-07 13:35] jvanderwee commented on #10
Added project type tag: https://github.com/bitrise-io/steps-fastlane/pull/11

Pre-installing in the Android image sounds best: https://github.com/bitrise-docker/android/pull/9

[2016-04-09 10:40] viktorbenei commented on #10
Published in v2.1.3 - thanks!

[2016-04-09 10:40] #10 closed, assigned to nobody

[2016-05-04 12:18] viktorbenei commented on #9
You can upgrade / install the tool versions you want to use, just like you would on your Mac/Linux. Passwordless `sudo` is enabled on every VM/stack ;)

[2016-05-04 12:18] #9 closed, assigned to nobody

[2016-06-23 00:21] GabrielCartier opened #15 "Bundler install creates the .bundle folder in the working directory"
When running the fastlane step, it will automatically check for a Gemfile to run bundle install on it prior to executing fastlane.

The problem is that this creates a .bundle folder in the root of the project which can cause the git repository to not be clean.

I am not sure why it's like that or if you can actually change the folder where the gems are installed. In any case, there is a command in

[2016-06-23 08:36] viktorbenei commented on #15
Hi,

The step checks for a Gemfile in your fastlane base dir, and if it finds one it'll `bundle install` and use that.

The solution right now is to add the `.bundle` folder to your `.gitignore` file. This is a best practice if you have a `Gemfile` in your repo, as `bundle install` can generate the `.bundle` folder on any Mac/PC when you run `bundle install`.

[2016-06-23 08:37] viktorbenei commented on #15
I'll close this issue, but feel free to ask any question, if required we'll reopen it / mark as a bug.

[2016-06-23 08:37] #15 closed, assigned to nobody

[2016-08-11 20:16] snydersaurus opened #16 "fastlane step fails"
Added fastlane as the last step in my build on Bitrise.io-- fails with the following:

Fastlane version:
$ bundle exec fastlane --version
bundler: failed to load command: fastlane (/usr/local/bin/fastlane)
Gem::LoadError: fastlane is not part of the bundle. Add it to Gemfile.
  /usr/local/lib/ruby/gems/2.2.0/gems/bundler-1.12.1/lib/bundler/rubygems_integration.rb:322:in `block in replace_gem'
  /u

[2016-08-11 20:19] viktorbenei commented on #16
TL;DR; If you use a Gemfile you should specify fastlane there as well

Longer version: if you use a `Gemfile` in your repo, most of the Bitrise Steps expect that you'll list your Ruby dependencies there (as that's the purpose of the `Gemfile`). Especially in case of `fastlane`, you most likely want to lock/specify which version should be used, as `fastlane` is updated quite frequently.

[2016-08-11 20:19] #16 closed, assigned to nobody

[2016-09-25 16:00] ky1ejs opened #17 "Not installing via Gemfile"
We recently added a `Gemfile` to our iOS project, and I noticed I needed to add Fastlane to it to be able to use this step.

The small problem I have with this is that we need to install all the gems that we use for other parts of testing that aren't used when we use Fastlane. It seems slightly unnecessary to install all the gems just to use Fastlane.

I guess that this approach of using the `Gemf

[2016-09-25 16:42] ky1ejs commented on #17
Maybe [Bundler groups](http://bundler.io/groups.html) could be used in some way?

[2016-09-26 10:17] viktorbenei commented on #17
Sure @kylejm , we'd be open to do that. I'd prefer if we would instead add a "use Gemfile" input field, which, if you set to the Gemfile's path, that would be used, otherwise no Gemfile will be used.

But for backwards compatibility maybe a simple "on/off" input would be better.. WDYT - also @godrei ;)

[2016-09-26 10:21] viktorbenei commented on #17
Bundler groups could also work, but that still requires manual config for the step, to specify which group to install or not to install - I think that's a bit out of scope for this step, too much manual config / internal knowledge required (most of the users who use fastlane are not familiar with how Gemfiles work, at least it seems like that based on the support tickets)

[2016-10-09 05:01] chrisfullscreen opened #18 "Unable to run action when options parameter contain spaces"
Hi - it looks like the fastlane action step is not able to run properly when there is a space in the input parameter:

fastlane itunesupload ipapath:'/var/User/temporary/My Example.ipa'

It will error out and said

[2016-10-09 09:03] viktorbenei commented on #18
Thanks for reporting this issue!

Could you please include the full log of this step from your build log? Just this step's log, but including the step header and footer too. It'd help a lot!

[2016-10-10 01:07] chrisfullscreen commented on #18
Here are the logs

[2016-12-09 18:19] ky1ejs commented on #17
Our requirements have no changed and we really like specifically setting the Fastlane version via the Gemfile.lock. Shall I close? 😄

[2016-12-09 18:43] viktorbenei commented on #17
We now have a common code we use in a couple of other steps which checks the Gemfile/.lock whether the target gem is included in the file, and only uses `bundle install` if the tool is part of the Gemfile/.lock

I think that could be added here, and that would fix the issue you reported, so we should leave this issue open for now ;)

[2016-12-19 03:28] Jeiwan opened #19 "Fastlane updating causes an error"
Step version 2.2.0, no Gemfile in `work_dir`, so the system installed fastlane is used. "Should update fastlane gem before run?" is true.
Logs:
[code]

Currently the system installed version is 1.84.0, so disabling the festlane update is not a good idea. Of course, we can put Gemfile into `work_dir`, but still the system version updating remains broken.

[2016-12-19 08:49] viktorbenei commented on #19
Please report this on fastlane's issue tracker, all this step does is `gem install fastlane` - the issue comes from the dependency definitions of fastlane

[2016-12-19 08:49] #19 closed, assigned to nobody

[2017-01-11 16:34] godrei commented on #17
Hi @kylejm ,
new version [2.3.0](https://github.com/bitrise-io/steps-fastlane/releases/tag/2.3.0) is released, this version uses bundler to install Fastlane only, if Gemfile.lock contains fastlane gem dependency.

The new version will be available in the setplib in ~ 20min.

I'll close this issue, but if you need more info/help just let us know and we'll reopen it!

[2017-01-11 16:34] #17 closed, assigned to godrei

[2017-01-11 16:36] godrei commented on #18
Hi @chrisfullscreen ,
we released a new version [2.3.0](https://github.com/bitrise-io/steps-fastlane/releases/tag/2.3.0), it will `shell split` the lane input's value, to properly pass these params to fastlane command.

The new version will be available in the steplib in ~20min.

I'll close this issue, but if you need more info/help just let us know and we'll reopen it!

[2017-01-11 16:36] #18 closed, assigned to godrei

[2017-05-24 12:54] ofairfoul opened #29 "Please update to Fastlane 2.33.0"
The iTunes pilot step is no longer working due to new iTC
fastlane/fastlane#9238
This fastlane release has the fix
https://github.com/fastlane/fastlane/releases/tag/2.33.0

[2017-05-24 13:12] #29 closed, assigned to nobody

[2017-05-24 13:14] viktorbenei commented on #29
Upgrading fastlane:

From the step's description: https://github.com/bitrise-io/steps-fastlane/blob/master/step.yml#L7

And if you don't have a `Gemfile` (and `Gemfile.lock`) in your repo, specifying the fastlane version you want to use, you can use the `update_fastlane` / **Should update fastlane gem before run?** input option of this step (https://github.com/bitrise-io/steps-fastlane/blob/master

[2017-06-16 09:52] RuanFluid opened #30 "Android Build/Upload Issue"
Getting this error:

undefined method `timeout_sec=' for #<Google::Apis::RequestOptions:0x00561553e6b338>

[2017-06-16 16:55] viktorbenei commented on #30
Can you please create an issue on their issue tracker? https://github.com/fastlane/fastlane

Actually, it seems there already is an issue report: https://github.com/fastlane/fastlane/issues/9501

Based on the comments it should now work if you upgrade to the latest fastlane version.

[2017-06-16 16:55] #30 closed, assigned to nobody

[2017-11-14 14:59] viktorbenei opened #31 "Fastlane version detection in Gemfile.lock bug / not correct"
From a related build's log:

[code]

So it thinks fastlane version in Gemfile.lock is `4.4.5`, but fastlane is at v2 right now, there's no v4 yet.

In fact, when it does a `bundle install` and then checks the version that's the correct version:

[code]

[2018-01-08 09:30] kdobmayer commented on #31
Hi @viktorbenei ,

Thanks for the report. The issue is fixed in version release [2.3.12](https://github.com/bitrise-io/steps-fastlane/releases/tag/2.3.12). I will close this issue, if you need any more help just let us know.

[2018-01-08 09:30] #31 closed, assigned to nobody

[2018-02-20 15:05] oronbz opened #35 "IDEA: Add `skip Gemfile` input parameter"
Hi there!

We do use `Gemfile` for running `fastlane` locally, but, we do want to save those expensive `bundle install` seconds when running on `bitrise`.

Is there any possibility of adding such a parameter which skips `bundle install` even if `Gemfile` exists?

I would've make a pull request myself, but I haven't find a way of running custom steps in bitrise workflow that target my own repositor

[2018-02-21 17:48] viktorbenei commented on #35
Hi @oronbz

Workaround: have a Script which deletes the Gemfile/.lock or just moves/renames it.

OR would be awesome, and it's actually fairly simple to switch to a custom/to your own step repo: http://devcenter.bitrise.io/bitrise-cli/steps/#step-referenceid-format - specifically the `git::` style, e.g.:

[code]

which will git clone the `master` branch of `https://github.com/bitrise-io/steps-scri

[2018-11-18 01:51] aindeev opened #38 "Fastlane error: unkown ruby installation type"
We started seeing this issue today (nov 17, 2018)

[code]

Any ideas?

[2018-11-18 02:21] kevinmun commented on #38
Same here

[2018-11-18 08:19] yamataku29 commented on #38
Same here

[2018-11-18 10:04] jinthagerman commented on #38
Same here

[2018-11-18 10:45] tamasbazs commented on #38
Hi there,
We are sorry for the inconvenience caused! Could you try running your build using our Hybrid stack? I notified our infra team, but finding a fix would take a bit more time than the ideal, so this could be a workaround for now.

[2018-11-18 11:25] jinthagerman commented on #38
I managed to workaround it using a Ruby script with gemfile step. Copied my gemfile in and then just put `fastlane beta` in the script in backticks.

[2018-11-18 22:44] jinthagerman commented on #38
Hybrid stack is also working, thanks!

[2018-11-19 03:22] yamataku29 commented on #38
Thank you for your reply!
I got build succeed when I did change to Hybrid stack.

2018年11月19日(月) 6:44 Jin Budelmann <notifications@github.com>:

[2018-11-19 11:25] bitce commented on #38
Hi guys, all stacks should be working by now! Thanks for the patience.

[2018-11-19 22:27] Aw79 commented on #38
Had the same problem.
Works for me again, thanks!

[2018-12-03 22:52] rlam3 opened #39 "Is there a way to specify version of fastlane?"
Is there a way to specify version of fastlane and github release branch/commit?

[2018-12-04 15:57] bitce commented on #39
HI @rlam3! Please check this thread: https://discuss.bitrise.io/t/how-to-use-a-specific-version-of-fastlane/1001

And if possible clarify what you mean by specifying GitHub release branch/commit, you can, of course, adjust which branch to build or what commit to trigger your builds with, but I'm not entirely sure what you mean!

[2018-12-04 22:06] rlam3 commented on #39
@bitce I'm looking to update fastlane to the master branch / specific git commit to test different environments source. I was wondering if you have a way in steps-fastlane to allow for this type of settings in workflow. Currently this step allows us to grab the latest version but I need the version that is on master branch with changes already made which is not in release yet. The master branch ha

[2018-12-05 10:26] fehersanyi-bitrise commented on #39
Hy @rlam3!
I have an idea on this like:
set fastlane to not update the version
and put a script step in the workflow(s) with the content @bitce linked with an env var check like

if $BITRISE_GIT_BRACH == master {
install latest
} else {
install specific version
}
or something like this at the first glance.

[2018-12-05 11:44] dale-french opened #40 "(<unknown>): could not find expected ':' while scanning a simple key at line 25 column 3"
It seems I am not able to excape characters on the FASTLANE_SESSION environment variable stored on Bitrise - well at least I think that is the issue.

**Stacktrace:**
[code]

**Fastfile:**
[code]

**Fastlane env:**
[code]

[2018-12-05 14:38] bitce commented on #40
Hi @dale-french! Could you include a build URL for us to investigate as well, please?

[2018-12-06 06:29] dale-french commented on #40
@bitce https://app.bitrise.io/build/c61c89779b978adb

[2018-12-11 14:19] fehersanyi-bitrise commented on #40
Hy @dale-french !

Would you be so kind to enable support-user on the settings tab please?

[2018-12-12 10:28] dale-french commented on #40
Hey @fehersanyi-bitrise !

I have enabled Bitrise user support.

<img width="883" alt="screenshot 2018-12-12 at 12 27 38" src="https://user-images.githubusercontent.com/6544116/49863608-55a77a00-fe09-11e8-82b7-aae46d9074f6.png">

[2019-01-10 10:27] trapacska commented on #40
Hey @dale-french !

In your case that is the correct way of setting fastlane session, however I see an interesting format of your file.

Please input the exact value into the input field

[2019-01-10 10:39] dale-french commented on #40
Hey @trapacska !

Which exact value into which input field?

[2019-01-10 11:32] trapacska commented on #40
In the FASTLANE_SESSION env's input field in the workflow editor 🙂

[2019-01-10 11:33] trapacska commented on #40
By the "exact" I meant without `\n`s and newlines, so without custom escaping.

[2019-01-10 12:21] dale-french commented on #40
Thanks @trapacska !

I have updated the `FASTLANE_SESSION` but now I get the error `undefined method strip for nil:NilClass`

Build URL: https://app.bitrise.io/build/dd480c58af6a1583

[2019-01-10 15:32] trapacska commented on #40
Do you have 2FA enabled on the account you need to use, this is why the session?

[2019-01-14 06:31] dale-french commented on #40
@trapacska correct - 2FA is enabled on this Apple ID. Do I need to create a new Apple ID without 2FA enabled in order to get this to work?

[2019-02-14 08:19] ktchernov opened #41 "Plugin installs really old version of Fastlane, update doesn't work"
First time running this plugin, running a step that works fine from my own Mac with fastlane v2.116.0 fails with multiple errors.

In the build logs I've spotted this warning being printed by fastlane:

[code]

In Workflow, I have the plugin setting "Should update fastlane gem before run? Insert variable" set to true.

Looks like the update is not working.

[2019-02-14 10:19] fehersanyi-bitrise commented on #41
Hy @ktchernov

Could it be that you hardcoded the fastlane version somewhere in a fastfile or podfile?

[2019-02-15 01:31] ktchernov commented on #41
No, Fastlane is not listed in the Podfile, and the version is not hardcoded anywhere else.

[2019-02-15 01:34] ktchernov commented on #41
Doh. Yep, hardcoded in the Gemfile lock. Thank you!

[2019-02-15 01:34] #41 closed, assigned to nobody

[2019-03-19 09:49] lszucs commented on #40
Hello @dale-french,

Could you try re-creating the `FASTLANE_SESSION` and also please make sure to use the latest version of Fastlane? There were some issues with the Apple login (the session timeout was moved to another field in the response and also Apple fixed the session timeout).

Also, if it still does not work, I'd recommend reaching out on Intercom and referencing this GitHub issue.

[2019-03-25 00:10] zekapp opened #44 "Android Build Failed to activate the Bitrise Apple Developer Portal connection"
I am having below error for version 4.2

Ensure cookies for Apple Developer Portal
Failed to activate the Bitrise Apple Developer Portal connection: %!s(MISSING)
Read more: https://devcenter.bitrise.io/getting-started/signing-up/connecting-apple-dev-account/
errors:
Falied to fetch portal data from Bitrise, error: Response status: 404 - Body: {"error_msg":"No Apple developer account found for this

[2019-03-25 09:51] fehersanyi-bitrise commented on #44
Hello there,
Could you please send us the url of the latest build with this error, so we could check the full logs for some more details? 🙃

[2019-03-25 11:57] zekapp commented on #44
Hi Fehersanyi

Here is the link.

https://app.bitrise.io/build/ed8dacc160341cfa

[2019-03-25 12:12] fehersanyi-bitrise commented on #44
So there are a few questions, did you connect your apple developer account to bitrise, also on the team tab of the app you should set up a service credencial user (You I guess) and you should provide the apple dev account password and appspecific password to fastlane so it can go through the 2fa.
also, are You sure that this is an android build? 🤔

[2019-03-25 12:25] zekapp commented on #44
Thanks for quick reply.
Here is my answers
1-  I don't have apple developer account.
2- On the team tab it says "Always the owner" as service credential user. I can see my name on the list but account belongs to corporate account. So I didn't change it.
3- yes it is for android build :)

It works perfect when I switch the version 2.3.13

[2019-03-25 12:31] bitce commented on #44
Hi @zekapp!

The service credential user shouldn't be related to these issues, however, you do need an Apple Developer Portal account in order to connect to Apple Developer Portal.

The other issue in the build was due to the Jcenter outage, your build wasn't able to download the dependencies. (https://status.bintray.com/)

We are a bit confused on what exactly it is that you are trying to accompl

[2019-03-25 12:57] zekapp commented on #44
Yes it is a purely android build. I use fastlane to build and deploy for PlayStore/Hockey app etc. I haven't need to connect to Developer Portal so far.

[2019-03-25 13:03] bitce commented on #44
Can you explain to us that what was the issue which for you've opened this issue thread? As both your title and description leads us to believe otherwise

[2019-03-25 13:07] bitce commented on #44
I'd suggest checking your fastlane lane, as it definitely tries to make this connection

[2019-03-25 14:45] bitce commented on #44
Hi @zekapp4!

Just an update: this warning was present by an error from us, due to a modification in the Fastlane step. Sorry for the inconvenience!

The reason your build failed was the jcenter issue mentioned earlier, so you should be all right now, let us know if you experience this otherwise!

[2019-04-15 14:51] gaguirre opened #45 "Feature request: expose fastlane env variables to Bitrise"
I'd like to access typical fastlane environment variables (e.g. build path) from another Bitrise step (e.g. "Deploy to Bitrise" using the fastlane build path).

I know it can be done using envman and that it can't be known which variables will be available (without evaluating the _lane_ that will be executed), but maybe all possible env variables can be exposed with a note that they could be empty

[2019-04-16 08:10] fehersanyi-bitrise commented on #45
Hello @gaguirre , Could you please make your feature request here? so the appropriate team can follow it up 🙃 https://discuss.bitrise.io/c/feature-request

[2019-04-16 15:12] DerLobi commented on #44
Is it possible to make the `Ensure cookies for Apple Developer Portal` step optional? For example only if an apple account is connected.

2FA is only required for the account with the "Account Holder" role (see https://developer.apple.com/support/account/authentication/)
We just use a separate account with the "Developer" and "App Manager" roles and we don't need 2FA for that.

I also had a build

[2019-04-17 08:51] bitce commented on #44
@DerLobi, We're really sorry about the inconvenience! Our tooling team is working on hiding this message and only exposing it when it's relevant it's just proven to be more complicated than expected. But it's in the works!

[2019-05-15 11:59] labrador116 commented on #44
Hello! I have the same problem for an Android project.
Plugin version: 2.4.0
Error message:
Falied to fetch portal data from Bitrise, error: Response status: 404 - Body: {"error_msg":"No Apple developer account found for this build."}
Command failed, error: exit status 20

Plugin version: 2.3.13
Command failed, error: exit status 20

How can I resolve this problem?

[2019-05-16 10:02] bitce commented on #44
Hi @labrador116! As mentioned in this thread above, this is a warning printed out as a bug in the step at the moment.

We're sorry for the inconvenience, but you can not / do not have to resolve this because this doesn't cause your builds to fail and have virtually no effect on them.

[2019-05-16 10:37] labrador116 commented on #44
@bitce Hello! My builds are failing. How I can to get the reason for the crash.
There is "Command failed, error: exit status 20" in the log.

The same build is working stable in a local machine.

[2019-05-16 10:57] bitce commented on #44
@labrador116 Can you either open a separate issue thread on https://discuss.bitrise.io/c/issues or simply contact us on our on-site chat about it please?

[2019-06-12 16:04] ssuchanowski commented on #44
What's the status here?

BTW https://devcenter.bitrise.io/getting-started/signing-up/connecting-apple-dev-account/ returns `404`.

[2019-06-13 10:20] bitce commented on #44
Hi @ssuchanowski! This would be the correct link by now: https://devcenter.bitrise.io/getting-started/connecting-apple-dev-account/ - sorry about that and thanks for bringing this to our attention!

[2019-06-17 08:01] ghadly opened #47 "Bundle step keep failing to install fastlane"
We are facing a problem with the new release of fastlane step 2.5.0

Our Bitrise Xcode is 10.2 which is using the bundler 1.17.3 and ruby 2.5.3.

After updating bitrise step we get an error that `must user Bundler > 2.0` after updating the GemFile.lock to Bundle 2.0.2 we get another error
`Install Fastlane with bundler
$ bundle "_2.0.2_" "install" "--jobs" "20" "--retry" "5"`.

[2019-06-17 08:13] bitce commented on #47
Hi @georgehadly-marleyspoon could you please include the related build URLs?

[2019-06-17 08:19] ghadly commented on #47
- update to Bundle 2.0 issue -> https://app.bitrise.io/build/ef85ca6bcb840e8e#?tab=log
- installing fastlane issue with bundler 2 -> https://app.bitrise.io/build/b735f6641ed6dda9#?tab=log

[2019-06-17 13:30] bitce commented on #47
Thanks!

Just so you know the the issue on the 2.4.0 can be workaround by placing this script before the fastlane step:

[code]

For the issue with the new version, could you contact us on our on-site chat and send us your Gemfile.lock and Gemfile from your repo? It could also help to run this script in the failing build: https://github.com/rbenv/rbenv-installer/blob/master/bin/rbenv-doctor

[2019-06-17 18:44] Workshed opened #48 "Missing documentation"
The [link given](https://devcenter.bitrise.io/getting-started/signing-up/connecting-apple-dev-account/) when hitting this line results in a 404 error, has this moved?

https://github.com/bitrise-steplib/steps-fastlane/blob/a6e1b28b292e0b7ce826dcc9c032f59ef95bd124/main.go#L110

Thanks!

[2019-06-19 06:57] bitce commented on #48
Hi!

Thanks for catching this, yes, it was moved to this location: https://devcenter.bitrise.io/getting-started/connecting-apple-dev-account/

[2019-06-19 07:27] Workshed commented on #48
No problem. Just so you're aware, some of your docs also reference the old link: https://devcenter.bitrise.io/getting-started/connecting-apple-dev-account/
<img width="758" alt="Screenshot 2019-06-19 at 08 26 20" src="https://user-images.githubusercontent.com/422196/59745140-0cc6f700-926c-11e9-8467-420e9ecd68b7.png">

[2019-06-20 22:15] notjosh commented on #44
I was getting an _error_ in my Android builds. I hadn't configured anything for Apple (as far as I knew?).

---

For anyone still dealing with this issue, here's what worked for me.

In the "Teams" tab, my selected option for "Apple Developer Portal Account" was a blank row (not sure if that's a bug), but I had to explicitly choose: "No user with connected Apple Developer Portal Account".

<img wi

[2019-06-21 07:31] bitce commented on #44
Hi @notjosh! Thanks for sharing this, I'd like to still re-iterate that this is something the Fastlane step prints out regardless of platform type at the moment. Consider this a cosmetic bug. This does not affect your builds, you may get confused about the warning - which is understandable, in this instance please let me know and I'll help you point out the actual error, but this does not fail any

[2019-06-21 10:23] ssuchanowski commented on #44
Yeah, I had my issue below this - but because this **warning** was print out in red I was not paying attention.

[2019-06-21 17:50] notjosh commented on #44
Hiya @bitce! Warning or not, my build was failing immediately following that output, and was fixed by updating the "Apple Developer Portal Account" setting.

Previously it was a blank entry, which I hadn't previously configured at all - a bad default setting? Invalid state? The blank option is no longer there now that I've changed the value (as per the above screenshot).

---

Digging into it a li

[2019-06-25 11:26] bitce commented on #44
Hi @notjosh!

Could you include the mentioned builds? :) What you detail about the blank option sounds interesting, although, more like a website bug than something in the step.

Didn't mean to write this off this is indeed a bug, I believe I specifically confirmed this earlier.

The situation is that our Tooling team intended to print this warning out in the Fastlane steps - in case you would lik

[2019-07-19 10:47] lpusok commented on #47
Hi @georgehadly-marleyspoon ,
This issue can happen if you have a custom value set for the GEM_HOME environment variable.

There is a new version of fastlane-install available (2.5.1):
https://github.com/bitrise-steplib/steps-fastlane/releases/tag/2.5.1

Bundler is installed before executing `bundle install`, in case a Gemfile.lock is present. The specific version defined in the Gemfile.lock under

[2019-07-19 13:12] ghadly commented on #47
Thanks for the update :)

[2019-08-28 17:37] henriquenfaria opened #52 "Specify Gemfile and Gemfile.lock locations?"
Is the fastlane step only searching for the Gemfile and Gemfile.lock inside the working directory I set in the UI? In my setup I set the working dir to ./fastlane but both Gemfile files are living inside the root folder of my project.

[2019-08-28 18:25] henriquenfaria commented on #52
I fixed my issue after setting the working dir to my project's root

[2019-08-28 18:25] #52 closed, assigned to nobody

[2019-08-29 15:24] bitce commented on #52
Hi @henriquenfaria,

Glad to hear that you were able to work this out 🙂

[2019-10-14 20:07] brandtdaniels commented on #15
Do you have a reference for this remark? I have never seen this file generated until I started to experiment with Bitrise.

[2019-10-14 20:10] brandtdaniels commented on #15
I think I found it: https://bundler.io/v1.6/deploying.html

[2019-10-16 19:14] egonzalez-T opened #55 "The sandbox is not in sync with the Podfile.lock. Run 'pod install' or update your CocoaPods installation."
I get the following error while running the Fastlane step on our IOS build.

[code]
Stack: Xcode 11.1.x, on macOS 10.14.6 (Mojave)
Build Url: https://app.bitrise.io/build/6597a5c578c93ccc#?tab=log

[2019-12-02 10:46] mikezs opened #57 "ERROR: Loading command: install (LoadError)"
Getting this error when building on the fastlane step on the bitrise infrastructure:

    $ gem "install" "fastlane" "--no-document"
    ERROR:  Loading command: install (LoadError)
    	dlopen(/Users/vagrant/.rbenv/versions/2.5.3/lib/ruby/2.5.0/x86_64-darwin18/openssl.bundle, 9): Library not loaded: /usr/local/opt/openssl/lib/libssl.1.0.0.dylib
      Referenced from: /Users/vagrant/.rbenv/version

[2019-12-07 10:01] bitce commented on #55
Hi @egonzalez-T!

You seem to be receiving this error due to the lack of CocoaPod installation/update during the build. Is it persistent at all?

[2020-01-08 02:43] abdullah-s commented on #47
FYI - this also solves issue "Could not find 'bundler' (1.17.3)"
in " ios auto provision" step

[2020-01-08 09:41] Roland-Bak commented on #47
Hey @abdullah-s , thanks for the info and for sharing! 😉

[2020-02-28 22:11] #40 closed, assigned to nobody

[2020-03-11 14:17] waeltken opened #59 "Fastlane envrionment variables not passed correctly in bitrise step"
Fastlane uses a few environment variables to configure access to appstoreconnect:

https://docs.fastlane.tools/best-practices/continuous-integration/#environment-variables-to-set

They are not correctly picked up by the Fastlane step, but work with a custom script like this:

[code]

[2020-03-12 11:21] waeltken commented on #59
This issue can be closed because the `FASTLANE_SESSION` expires after a short period of time and can not really be used in CI.

[2020-03-12 11:21] #59 closed, assigned to nobody

[2020-04-08 05:19] lucianomlima opened #61 "Feature request: allow lanes receive params"
Some actions allow params like [supply](https://docs.fastlane.tools/actions/supply/).
Could be a nice improvement if we can pass some options to our lanes like following

[code]

[2020-09-15 06:34] teameh opened #62 "This step is using an outdated fastlane version"
I'm getting this error in the `upload_to_app_store` command.

[code]

Caused by:

[code]

What mechanism decides which Fastlane version is being used? We're still on [2.150.0.rc7](https://github.com/fastlane/fastlane/releases/tag/2.150.0.rc7) which is from July while [2.159.0](https://github.com/fastlane/fastlane/releases/tag/2.159.0) is already out. We're more than 24 releases behind.

[2020-09-15 06:52] teameh commented on #62
Nevermind, I just found this in my Gemfile:

[code]

Forgive me, it's still early in the morning here in The Netherlands 🤦.

[2020-09-15 06:52] #62 closed, assigned to nobody

[2020-10-09 20:36] seka opened #63 "Could not create the Java Virtual Machine"
There's an error with iTMSTransporter.

[code]

So, I debug with ssh.

[code]

What should I do?

[2020-10-13 13:59] bitce commented on #63
Hi @seka! Can you please send us a build URL and enable support user access in the Settings?

[2020-10-28 21:40] michaeldiguiseppi commented on #63
https://github.com/fastlane/fastlane/pull/16689 Looks like steps-fastlane needs to pull in these changes to enable support for Xcode versions > Xcode 11? @bitce We just encountered this issue when updating to Xcode 12 in our project.

[2020-10-29 08:15] bitce commented on #63
Hi @michaeldiguiseppi! Do you experience this issue even when opting for the latest fastlane version? If so, can you please send us a build URL here?

[2020-10-29 15:45] michaeldiguiseppi commented on #63
https://app.bitrise.io/build/f4d3be810249e0d5#?tab=log.  This was one that failed. However for the time being our workaround is to replace the pilot step with the xcrun altool step, which seems to work properly with Xcode 12.

[2020-10-30 09:44] bitce commented on #63
That's correct! The other step does not use fastlane so it shouldn't be affected. Strangely I can't seem to find the logs for this build. Can you enable Support User access for us?

[2020-12-07 03:06] seka commented on #63
Maybe... I need to review the handling of 2FA. I'll try the `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD` settings.
but, an issue that is of concern here.
https://discuss.bitrise.io/t/bitrise-repeatedly-asking-2factor-authentication-on-fastlane-actions/13992

[2020-12-07 10:27] bitce commented on #63
Hi @seka! What is the problem you're seeing exactly? Can you brief us into it and/or send me a build URL?

[2020-12-09 03:51] seka commented on #63
Sorry... Cannot be published build URL because it's not my personal project.
I saved `FASTLANE_PASSWORD`, `FASTLANE_SESSION`, `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD` in secret environment variables. but, Pilot asks for 2FA.
I replaced steps-fastlane to steps-script. So, pilot works fine.

[2020-12-09 09:49] bitce commented on #63
Sure, as you wish. Just for transparency, the URL would allow us access to metadata about the build (when was it started, by who, how, in what environment) and the build logs themselves.
 I believe the `FASTLANE_SESSION` variable does not get automatically created due to an ongoing issue, so that is likely the cause I suppose, won't be able to tell for sure.

[2020-12-16 03:59] gregorskii opened #64 "FASTLANE_SESSION Issue"
Reading: https://discuss.bitrise.io/t/bitrise-repeatedly-asking-2factor-authentication-on-fastlane-actions/13992

It appears this step has an issue consuming the FASTLANE_SESSION.

Can anyone explain if this step does actually have an issue with this session?

I see in my job output that the session is set:

[code]

But when it gets to the login step it asks for the phone number anyways:

[code]

[2020-12-16 04:33] gregorskii commented on #64
Followup question, what if you have multiple apple developer accounts in bitrise, what is the basic logic used to pick the correct one? Does it have it, or does it assume there is only one developer account?

If I needed to run fastlane manually, how do you access the developer accounts stored in the bitrise apple developer account UI? Can you?

We do not want to have to manually manage the SESSIO

[2020-12-16 08:56] bitce commented on #64
Hi @gregorskii,

FASTLANE_SESSION is indeed not exported properly, despite the logs stating that it is. This is a bug that is currently under investigation at the time of me typing this, so not the expected behaviour.

The workaround is to provide the variable manually, and use a Script step to launch your fastlane, instead of the Fastlane step. I can see why this is suboptimal especially in the c

[2020-12-16 16:57] gregorskii commented on #64
Jwt auth makes sense but we manage apple accounts we are invited to. It requires owner permissions to make the JWT token and it's team based.

It's not ideal but we can look into it.

Is there any way to get the session from the bitrise stored account via shell?

Thanks!

[2020-12-16 18:15] gregorskii commented on #64
Looks like it's an API call with known env values at runtime.

https://github.com/bitrise-steplib/steps-fastlane/blob/master/vendor/github.com/bitrise-steplib/steps-deploy-to-itunesconnect-deliver/devportalservice/devportalservice.go

Is the issue with this session obtaining the keys from the API, from setting it via the env, or consuming it via fastlane?

[2020-12-17 19:15] gregorskii commented on #64
It looks to me like the apple developer accounts in Bitrise are user-specific, when I requested the accounts with the default automated builds account there are no users in the API call to `apple_developer_portal_data`. Could this be part of the issue? The availability of the accounts depending on what the user adds them and what user runs the build?

[2020-12-30 21:59] gregorskii commented on #64
Hello,

Any update on this?

I just need some answers so I can look for next steps.

Thanks

[2021-01-06 10:27] bitce commented on #64
Hi @gregorskii!

The fix is in progress, we will make sure to let you know here once it's ready to get released! Thanks for digging into this.

[2021-01-06 23:01] gregorskii commented on #64
Awesome thank you @bitce. Hopefully, my digging was helpful!

As you are aware most customers will be hitting a Feb deadline for adding 2fa to their accounts. Understood that the JWT mechanism is the recommendation for how to solve this, but it does not easily work for our organization. We will be working towards that goal as it will likely be required in the future. But Apple requires that app ow

[2021-01-11 23:22] ZedFergusApp commented on #63
We are having the exact same errors.

Can you have a look and help us.

Our build url is https://app.bitrise.io/build/d348c221d0062f4b#?tab=log

Thanks so much.

[2021-01-12 13:00] godrei commented on #64
Hi @gregorskii did you enable a Bitrise session-based Apple Developer connection for the build: https://devcenter.bitrise.io/getting-started/configuring-bitrise-steps-that-require-apple-developer-account-data/ ?

Please make sure the Bitrise connected account and the one you use for App Store deployment have the same Apple ID.
Also, make sure you use the latest version of the step and Fastlane.

[2021-01-12 18:22] gregorskii commented on #64
Will try.

Quick question, does this setup support using multiple apple IDs? Assume all of the apple IDs will be logged in via the bitrise dashboard. Will it look for the one with the matching email?

Second I asked before, but, it seems the logged in accounts are user specific, we have automation running our jobs. Will the step find the apple ids even if they were added via a user account?

[2021-01-13 11:45] arthursady commented on #64
Hey guys, I don't know if this is exactly the right thread, but since yesterday I believe because of release 2.7.2 all my flows that run fastlane match are breaking these are the two changes this release mentions and I believe the change on the FASTLANE_SESSION is causing the break.

Validate Apple Developer Connection (expiry).
**Expose FASTLANE_SESSION only for the fastlane command.**

In order

[2021-01-13 11:54] arthursady opened #66 "Fastlane Bloc release 2.7.2 2fa issue"
Hey guys, since yesterday I believe because of release 2.7.2 all my flows that run fastlane match are breaking.

These are the two changes release 2.7.2 mentions:

Validate Apple Developer Connection (expiry).
Expose FASTLANE_SESSION only for the fastlane command.

In order to validate this, I rolled the blocs on my workflows to version 2.6.x and in this case they start working again, so I do thin

[2021-01-13 12:25] godrei commented on #64
@gregorskii On the Bitrise project's Team tab, under `Connected Apple Developer Portal Account` section you need to specify which one of the Bitrise connected Apple Developer accounts should be used for the given Bitrise project.

The Apple Developer connection belongs to Bitrise user accounts, for the given Bitrise project you can select any (who can access the project) Bitrise user's Apple Devel

[2021-01-13 12:26] godrei commented on #66
Hi @arthursady could you please share a failing build URL?

[2021-01-13 12:31] godrei commented on #48
Hi @Workshed , link fixed in the latest version [2.7.2](https://github.com/bitrise-steplib/steps-fastlane/releases/tag/2.7.2).
I'll close this issue, but if you need more info/help just open a new issue!

[2021-01-13 12:31] #48 closed, assigned to nobody

[2021-01-13 14:17] arthursady commented on #66
@godrei https://app.bitrise.io/build/4056d65caae73a34#?tab=log

This is a link of a build that was failing with the bloc 2.7.2 and worked with the rebuild button once I changed to version 2.6.x

[2021-01-13 14:54] godrei commented on #66
@arthursady could you please also share the latest working build url (using step version 2.6.x)?

[2021-01-13 17:21] gregorskii commented on #64
@godrei that makes sense.

is it possible to use multiple apple developer accounts for the same project? ie make more the one available?

EDIT: it looks to me like this is a 1:1 relationship now that I see the Team tab on the project. You can add as many developer accounts as you want to the user/account -> Apple Developer Accounts Page, but only one session-based authentication method can be asso

[2021-01-14 04:29] ZedFergusApp commented on #63
Anyone can look into this issue? It happens on Xcode 12 setup, and is really blocking our pipeline.

[2021-01-14 17:55] arthursady commented on #66
@godrei sorry for the delay. https://app.bitrise.io/build/a0a38173255d1ecd#?tab=log this is the build after.

[2021-01-15 09:18] godrei commented on #66
Hi @arthursady,
huge thanks for your help!

Unfortunately, we introduced a bug in version 2.7.2, details can be found here: https://github.com/bitrise-steplib/steps-fastlane/pull/68.
The issue is fixed in version [2.7.4](https://github.com/bitrise-steplib/steps-fastlane/releases/tag/2.7.4).

I'll close this issue, but if you need more info/help just open a new issue!

[2021-01-15 09:18] #66 closed, assigned to nobody

[2021-01-19 16:54] cathyharmon commented on #63
Hello,

We have recently made changes in this area.  If you are still having problems, please open a support ticket.  Please be sure to include the build url and enable support access.  You can enable support access under the "Settings" tab for the app.

Thanks

[2021-01-21 16:45] bitce commented on #64
a

[2021-01-26 13:37] godrei commented on #64
Hi @gregorskii sorry for my late response.

You're right this is a 1:1 relation at the moment.

There is a feature request to change this on discuss, please vote on it to bump its priority: https://discuss.bitrise.io/t/connect-multiple-apple-developer-accounts/3318 I am not sure when we will be able to start working on this.

We plan to add step inputs where you can pass the authentication data, s

[2021-01-26 14:29] gregorskii commented on #64
Awesome thank you. I have added a “+1” to that request.

Best

[2021-01-27 12:59] godrei commented on #64
@gregorskii do you need any more help? can we close this issue?

[2021-01-27 18:23] gregorskii commented on #64
I think we can close it. I have the info I need.

Is the step fixed for a single account? For anyone else that may find this.

[2021-02-04 18:02] lpusok commented on #64
@gregorskii Yes a fix was released earlier: https://github.com/bitrise-steplib/steps-fastlane/releases/tag/2.7.4

We also released a new version that does support API key based authentication, and also Step inputs (for a single user still), see:
https://github.com/bitrise-steplib/steps-fastlane/releases/tag/3.0.0

[2021-02-04 18:02] #64 closed, assigned to nobody

[2021-04-24 08:09] #61 closed, assigned to nobody

[2021-04-24 08:09] #57 closed, assigned to nobody

[2021-04-24 08:09] #55 closed, assigned to nobody

[2021-04-24 08:09] #47 closed, assigned to nobody

[2021-04-24 08:09] #45 closed, assigned to nobody

[2021-04-24 08:09] #44 closed, assigned to nobody

[2021-04-24 08:09] #39 closed, assigned to nobody

[2021-04-24 08:09] #38 closed, assigned to nobody

[2021-04-24 08:09] #35 closed, assigned to nobody

[2021-05-01 04:42] alexviquez commented on #63
I have the same issue about iTMSTransporter, the fastlane action is from pilot, and the problem was change the xcode version to 12, currently iOS does not allow compiling in previous versions!

[2021-05-06 02:51] mohamed461994 commented on #63
I have the same issue since moved from Xcode 11 to 12.

[2021-05-10 15:16] lpusok commented on #63
Hello @alexviquez @mohamed461994 @ZedFergusApp @seka @michaeldiguiseppi!
Can you please confirm that you are using Fastlane  2.182.0 (the latest one).

If your project doesn't contain a fastlane gem in your project's Gemfile, you can use the input **Should update fastlane gem before run**. Set this input to `true` so that the Step can install the latest fastlane version to your project.
If a gem l

[2021-06-17 08:50] lpusok commented on #63
Closing due to inactivity. Please open a new issue if needed.

[2021-06-17 08:50] #63 closed, assigned to nobody

[2021-09-14 09:47] ofalvai opened #82 "Step fails if lane name contains space"
### Troubleshooting

- [X] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? latest
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshootin

[2021-10-06 20:36] chedabob commented on #82
I'm unable to reproduce this. Do you have a sample Fastfile and Bitrise.yml?

I have this in my bitrise.yml to test
[code]

And my Fastfile

[code]

And I can see it has run in the console output

<img width="651" alt="image" src="https://user-images.githubusercontent.com/168025/136279168-e24bc8c3-e333-42bb-8d88-9c1d41c3e71e.png">

[2021-10-08 14:05] ofalvai commented on #82
@chedabob you are right, it must have been something else. I don't have the build logs anymore, so I'm closing this issue as it's not possible to recreate it without further details.

[2021-10-08 14:05] #82 closed, assigned to nobody

[2022-01-11 15:09] avelarfe opened #86 "Fastlane does not build app that requires Swift 5.5.2"
### Troubleshooting

- Which version of the step is effected? Current
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting/debugging-your-build-on-your-own-machine/)? NOT APPLICABLE

### Useful information

Builds

[2022-01-14 13:10] ofalvai commented on #86
Hey @fearlipe 👋

The latest stable Bitrise stack (Xcode 13.2) contains Swift 5.5.1: https://github.com/bitrise-io/bitrise.io/blob/gen2-system-reports-w52/system_reports/osx-xcode-13.2.x.log#L1109

May I ask what is your local setup that builds your project successfully?

[2022-05-06 08:04] #86 closed, assigned to nobody